<body class="background-dark">
   <div class="single-widget-container">
      <section class="widget login-widget">
         <header class="text-align-center">
            <h4>Register for an Account</h4>
         </header>
         <div class="body">
              <%= form_tag "auth/identity/callback", html: {class:"no-margin"} do %> 
               <fieldset>
                  <div class="form-group">
                     <label for="email" >Email</label>
                     <div class="input-group">
                        <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                        </span>
                        <%= text_field_tag :auth_key, nil, placeholder: 'Your Email', class: "form-control input-lg input-transparent" %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="password" >Password</label>
                     <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                        </span>
                         <%= password_field_tag :password, nil, placeholder: 'Your Password', class: "form-control input-lg input-transparent" %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="password" >Draft Kings Username <small>&nbsp *OPTIONAL</small></label>
                     <div class="input-group input-group-lg">
                        <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                        </span>
                         <%= password_field_tag :password, nil, placeholder: 'Draft Kings Username', class: "form-control input-lg input-transparent" %>
                     </div>
                  </div>
               </fieldset>
               <div class="form-actions">
                  <button type="submit" class="btn btn-block btn-lg btn-danger">
                  <span class="small-circle">
                  <i class="fa fa-caret-right"></i>
                  </span>
                  <small>Register</small>
                  </button>
                  <br/>
               </div>
            <% end %>
         </div>
      </section>
   </div>
</body>