/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * --- Angle Main Stylesheet
 *
 *= require angle/app
 *
 * --- Assets paths redefinition
 *
 *= require fonts
 *= require vendor.assets
 *
 */

body {
  background: image-url('background.png');
}

// Sign In

.sign-in-panel-heading {
  background: rgba(58, 63, 81, 0.82);
}

.panel-dark-transparent {
  background: rgba(255, 255, 255, 0.8);
  border-color: #CFDBE2;

  .panel-heading {
    color: #FFF;
    background-color: rgba(58, 63, 81, 0.82);
    border-color: #3A3F51;
  }
}