<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>DFS Albatross</title>
      <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "DFS Albatross" %>">
      <!-- TEMPLATE CSS -->
      <link href="/assets/css/application.css" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <meta charset="utf-8">
      <%= csrf_meta_tags %>
   </head>
   <body class="background-dark">

      <% if user_signed_in? %>
         <%= render 'layouts/navbar' %>
      <% end %>

         <!-- common libraries. required for every page-->
         <script src="/assets/lib/jquery/dist/jquery.min.js"></script>
         <script src="/assets/lib/jquery-pjax/jquery.pjax.js"></script>
         <script src="/assets/lib/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
         <script src="/assets/lib/widgster/widgster.js"></script>
         <script src="/assets/lib/underscore/underscore.js"></script>
         <!-- common application js -->
         <script src="/assets/js/app.js"></script>
         <script src="/assets/js/settings.js"></script>
         <!-- page specific libs -->
         <script src="/assets/lib/jquery.sparkline/index.js"></script>
         <script src="/assets/lib/messenger/build/js/messenger.js"></script>
        <script src="/assets/lib/messenger/build/js/messenger-theme-flat.js"></script>
         <!-- page application js -->
         <script src="/assets/js/tables-static.js"></script>
         <script src="/assets/js/ui-notifications.js"></script> 
         <%= yield %>

   </body>
</html>